.logos {
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white);
        box-shadow: var(--box_shadow);
        position: relative;
        z-index: 2;
        transition: var(--transition);
        padding: 5px;
        &:hover {
            transform: scale(1.2);
        }
    }
}
