.provider{
    &.discord {
        svg{
            color: var(--discord);
        }
    }
    &.github {
        svg{
            color: var(--github);
        }
    }
    svg{
        font-size: 25px;
    }

    img{
        width: 25px;
        height:auto;
    }
}